/vendor
/node_modules
.idea
.env
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
_ide_helper_meta.php
composer.lock
.vagrant
.DS_Store
.bash_history
.composer
.gitconfig
.mc
.ssh
composer.phar
/resources/assets/bower_components
/storage/users_without_payment.xlsx
/spec
/public/administrator
/config/administrator
/config/administrator.php
/public/images
/app/Http/administrator
/app/Providers
/package-lock.json
/database/migrations
/database/record
/database/seeds
package.json
package-lock.json